.blogs {
  margin-bottom: 30px;
}
.blog-page {
  margin-top: 40px;
}

.blogs .blog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width: 768px) {
  .blogs .blog-list {
    grid-template-columns: 1fr;
  }
}
